body {
    background-color: #f3f3f3;
    margin: 0;
    font-family: 'Arial' !important;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}